NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_RAZORPAY_KEY_ID='rzp_test_LNzuEyh8Xnf1UI'

PROKERALA_CLIENT_ID = 	d578f711-a359-405f-9ebd-20f61861bb07
PROKERALA_CLIENT_SECRET=	7UE85KmUnRHkHwsc87jApA6UYy5YQsjVycYVm7s6